# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.py[cod]

# Virtual environment
venv/
ENV/
env/

# VSCode
.vscode/

# Mac system files
.DS_Store

# Ignore media and uploaded files (if needed)
media/
staticfiles/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# mypy type check
.mypy_cache/
.dmypy.json
dmypy.json

# Other
*.swp